body {
    margin: 0 auto;
}
.map-container {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    width: 1000px;

}

.battles {
    width: 600px;
 
}

#sidebar {
    width: 300px;
    border: 3px black dotted;
}

ul {
    list-style-type: none;
}

.completed {
    display: none;
}